.login-container{
    background-image: url('../../media/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.form-container{
    background-color: white;
    padding: 60px 30px;
    border-radius: 30px;
}

.login-title{
    color: #0072d6;
}

.login-input-field{
    width: 80%;
    background-color:#eaedf3 ;
    border: none;
    border-radius: 30px;
    padding: 15px;
}
.login-input-field:focus{
    border: none;
    outline: none;
}

.login-btn{
    background-color: #008aff;
    border: 1px solid transparent;
    padding: 5px 20px;
    color: white;
    border-radius: 20px;
}

.login-btn:hover{
    background-color: white;
    color: #008aff;
    border: 1px solid #008aff;
}

.register{
    text-decoration: none;
    color:#0072d6;
    font-weight: 700;
}

.google-login{
    background-color: rgba(231, 227, 227, 0.678);
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
}

.google-login:hover{
    opacity: .8;
}

.google-login img{
    object-fit: cover;
}


/* ----------Media Query---------- */

/* Media query for extra small device */
@media only screen and (max-width:575px) {
    .form-container{
        width: fit-content;
        padding: 20px 10px ;
        
    }
    .google-login{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        width: 80%;
        font-size: 10px;
    }
}
