.navigation-container{
    line-height: 30px;
    border-bottom: 2px solid #008aff;
}
.nav-menu{
    text-decoration: none;
    color: rgba(36, 36, 36, 0.719);
}
.nav-menu:hover{
    color: #008aff;
}

.user-name{
    background-color: #008aff;
    padding: 5px 20px;
    color: white;
    border-radius: 18px;
    margin-top: 12px;
}

.logout-btn{
    border: none;
    background-color: transparent;
}

.toggle-btn:focus{
    outline: none;
    box-shadow: none;
}